.InputArea {
  height: 100%;
  width: 100%;
  border: 2px solid #4d5d53;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 2rem;

  .InputBox {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #4d5d53;
    background-color: #f9f5f1;
  }
}
